*.o
*.lo*
*.a
*.la
*.sw?
.deps
.libs
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
gtk-doc.make
INSTALL
libtool
Makefile
Makefile.in
omf.make
stamp-*
tags
TAGS
uprof-*.pc
xmldocs.make
tests/custom-attributes
tests/dbus-service
tests/dlopen
tests/linking
tests/module.so
tests/recursion
tests/sanity_check
tests/suspend
tests/suspend2
tests/suspend3
uprof/uprof-tool
